.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header_div {
  height: 60px;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
}

.side {
  width: 240px;
  background-color: #111;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 24px;
  background-color: #121212;
  box-sizing: border-box;
  overflow-y: auto;   /* ✅ 넘칠 때만 스크롤 생성 */
}